@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Suez+One&display=swap');

* {
    margin:0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fafafa;
    font-family: Trebuchet MS, Helvetica;
}
header {
    width: 100%;
    padding: 10px, 0.5px, 0px, 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}
header #logo{
    color: #fff;
    cursor: pointer;
}
header #logo span{
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}
@media(min-width: 951px){
    #logo {
        float:left;
        width:30%;
        font-size: 1.5em;
    }
    #about{
        float: right;
        width: 67%;
    }

}
@media(max-width: 950px){
    #logo {
        margin-top:15px;
        width:100%;
    }
    #about{
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
    margin-bottom: 10px;
}
#about > a {
    color:#fff;
    text-decoration: none;
}
#about > a:hover {
    color:#b0b0b0;
    text-decoration: none;
}
#about >a:not(:last-child){
    margin-right: 7%;
}
.fixed{
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo{
    color:#343434;
}
.fixed #about a {
    color:#343434; 
}
.fixed #about a:hover {
    color:#7c7c7c; 
}

#top{
    width:100%;
    background-image: url(https://phantom-marca.unidadeditorial.es/7c4ccd41cb946352fe6e15a6c32773a1/crop/0x0/2041x1150/resize/1320/f/jpg/assets/multimedia/imagenes/2022/01/07/16415655339687.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size:3em;
}
#top h1{
    padding-top: 20%;
}
#top h3 {
    color:#ccc;
}

@media(min-width: 1001px){
    #top {
        font-size: 3em;
        height:1000px;
    }
}
@media(max-width: 1000px) and (min-width:651px){
    #top {
        font-size: 1.5em;
        height:600px;
    }
}
@media(max-width: 650px){
    #top {
        font-size: 1em;
        padding-top: 50%;
        height:500px;
    }
}

#main {
    padding: 100px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size:1.2em;
}

#main div {
    width:48%;
    margin-right: 2%;
    float: left;   
}

#main h2{
    font-size: 3em;
}
#main span {
    color:#808080;
}

@media(min-width:1401px){
    #main{
        padding: 100px 20%;
        width: 60%;
    }
}
@media(max-width:1400px){
    #main{
        padding: 100px 10%;
        width: 80%;
    }
}
@media(max-width:640px){
    #main div {
        width:98%!important;
        margin-bottom: 20px;
    }
}
#overview {
    float:left;
    background-image: url(https://cdnn.1prime.ru/images/83326/05/833260568.jpg);
    background-blend-mode: multiply;
    background-color: #6b6570;
    background-size: cover;
    background-attachment: fixed;
    padding:100px 0;
    width: 100%;
    text-align: center;
    color:#fff; 
}

#overview h2{
    font-size: 4em;
}
#overview h4 {
    color:#ccc;
    font-size: 1.5em;
}

#overview .img {
    float:left;
    width:30%;
    margin-right: 5%;
    margin-top: 50px;
}
#overview .img:nth-child(odd) {
    margin-left: 18%;

}
#overview img{
    background-color: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float:left;
    width: 100%;
    max-width: 640px;
    min-width: 550px;
}
#overview span{
    float:left;
    width: 100%;
    font-size: 2em;
    margin-top: 20px;
}

@media(max-width: 1800px){
    #overview .img{
        width:80%!important;
        margin-right: 0!important;
        margin-left: 10%!important  
    }
}


#contacts {
    width:100%;
    float:left;
    padding-bottom: 40px;
    padding-top: 70px;
    border-top: 4px solid silver; 
    background:#f8f4f4;
}
h1, h2, h3, h4, h5{
    font-weight: lighter;
}

#contacts h5{
    font-size: 3em;
    color:#4f4f4f;
}
#form_input{
    margin-top: 15px;
    width: 35%;
    margin-left: 38%;
    font-size: 1.1em;
}
#form_input label {
    color:#505050;
    cursor:pointer;
    font-size: 1.4em;
}
#form_input label > span {
    color:#e87e7e;
}
#form_input input,#form_input textarea{
    margin-bottom: 10px;
    width:70%;
    padding:10px 2%;
    border-radius: 7px;
    border: 2px solid silver;
    font-size:0.9e;
    color:#4a4a4a;
}
#form_input input,#form_input textarea:focus{
    border-color: #333;
}

.btn{
    float:left;
    border-radius: 5px;
    padding:5px 9px;
    font-size: 1.2em;
    background-color: #5053ec;
    text-shadow: #454545 0 0 2px;
    cursor:pointer;
    color:#fff;
    font-family: 'Roboto Bold';
}
.btn:hover{
    background-color: #4547c1;
}

#faq {
    background-color: #fff;
    border-top: 2px dashed;
    width: 100%;
    float:left;
    padding-top: 70px;
    padding-bottom: 70px;
}
#faq div{
    width: 25%;
    margin-left: 6%;
    float:left;
}

#faq .title{
    font-weight: lighter;
    color:#808080;
}
#types {
    padding: 250px 20%;
    width: 60%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size:1.2em;
}